{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "plugins": ["react"],
  // "parserOptions": {
  // "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
  // "sourceType": "module", // Allows for the use of imports
  // "project": "./tsconfig.json",
  // "tsconfigRootDir": "./"
  // },
  "rules": {
    "no-unused-vars": "warn",
    "react/no-unescaped-entities": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "settings": {}
}
